<h1>
	Log In
</h1>

<%= form_tag sessions_path, :html => { :class => 'form-horizontal' } do |f| %>
<table class="table table-striped table-bordered span3 offset0">
	<tr>
		<td class="control-group"> 
<%= label_tag :email, nil, :class => 'control-label' %>
<%= text_field_tag :email, nil, :class => 'text_field' %>
		</td>
	</tr>
	<tr>
		<td class="control-group"> 
<%= label_tag :password, nil, :class => 'control-label' %>
<%= password_field_tag :password, nil, :class => 'text_field' %>
		</td>
	</tr>
	<tr>
		<td class="form-actions"> 
<%= submit_tag 'Login', :class => 'btn btn-primary' %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn' %>
		</td>
	</tr>
</table>
<% end %>
