<%= form_for(@qanda) do |f| %>
  <% if @qanda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qanda.errors.count, "error") %> prohibited this qanda from being saved:</h2>

      <ul>
      <% @qanda.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="table table-striped table-bordered span3 offset0">
<tr>
  <td class="field">
    <%= f.label :meritbadge %>
  </td>
  <td>
    <%= f.text_field :meritbadge %>
  </td>
</tr>
  <tr><td class="field">
    <%= f.label :question %>
  </td>
  <td>
    <%= f.text_field :question %>
  </td>
</tr>
<tr>
  <td class="field">
    <%= f.label :answer %>
  </td>
  <td>
    <%= f.text_field :answer %>
  </td></tr>
  <tr><td class="field">
    <%= f.label :image %>
  </td>
  <td>
    <%= f.text_field :image %>
  </td></tr>
  <tr><td class="field">
    <%= f.label :position %>
  </td>
  <td>
    <%= f.number_field :position %>
  </td></tr>
  <tr><td colspan="2" class="actions">
    <%= f.submit  'Save Q & A', :class => 'btn btn-primary' %>

  </td></tr>
</table>
<br clear="all">
<% end %>
