<h1>Questions &amp; Answers</h1>


<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @qanda.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @qanda.answer %>
</p>

<p>
  <b>Image:</b>
  <%= @qanda.image %>
</p>

<p>
  <b>Position:</b>
  <%= @qanda.position %>
</p>


<%= link_to 'Edit', edit_qanda_path(@qanda) %> |
<%= link_to 'Back', qandas_path %> | 
<%= link_to 'New Q & A', new_qanda_path %>
