<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>

<%= f.hidden_field :active, :value => '1' %>

<table class="table table-striped table-bordered span5">
	<tr>
		<td class="control-group"> 
<%= f.label "Full Name", :class => 'control-label' %>
</td><td>
<%= f.text_field :username, :class => 'text_field' %>
		</td>
	</tr>

	<tr>
		<td class="control-group"> 
<%= f.label :email, :class => 'control-label' %>
</td><td>
<%= f.text_field :email, :class => 'text_field' %>
		</td>
	</tr>
	<tr>
		<td class="control-group"> 
<%= f.label :password, :class => 'control-label' %>
</td><td>
<%= f.password_field :password, :class => 'text_field' %>
		</td>
	</tr>
	<tr>
		<td class="control-group"> 
<%= f.label :password_confirmation, :class => 'control-label' %>
</td><td>
<%= f.password_field :password_confirmation, :class => 'text_field' %>
		</td>
	</tr>

<% if @user.id %>
	<tr>
		<td class="control-group"> 
<%= f.label :admin, :class => 'control-label' %>
</td><td>
<%= f.check_box :admin, :class => 'check_box' %>
		</td>
	</tr>
	<tr>
		<td class="control-group"> 
<%= f.label :active, :class => 'control-label' %>
</td><td>
<%= f.check_box :active, :class => 'check_box' %>
		</td>
	</tr>
<% end %>

	<tr>
		<td class="form-actions" colspan="2"> 
<%= f.submit nil, :class => 'btn btn-primary' %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
               root_path, :class => 'btn' %>
		</td>
	</tr>
</table>
<% end %>
