<%= form_for(@post) do |f| %>
<%= f.hidden_field :user_email, :value => current_user.email %>
<%= f.hidden_field :user_id, :value => current_user.id %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="table table-striped table-bordered span3 offset0">
  <tr>
    <td class="field">
    <%=f.select :qanda_id, options_from_collection_for_select(Qanda.order('meritbadge ASC'), 'id', 'meritbadge', @post.qanda_id), include_blank: true, :class => 'text_field' %>
  </td>
  <td class="controls">
      <%= f.text_field :my_answer, :class => 'text_field' %>
    </td>
</tr>
  <td colspan="2" class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </td>
</tr>
</table>
<% end %>
