<h1>My Answer Sheet : <%= current_user.username %></h1>


<br><br>
<table class="table table-striped table-bordered">
  <tr>
    <th>Merit Badge</th>
    <th>Question</th>
    <th>My Answer</th>
    <th>Edit</th>
  </tr>

<% if current_user %>
<% Qanda.all.map { |q| [q.id,Post.where(user_id: current_user.id, qanda_id: q.id).first.try(:my_answer)] }.each do |answers| %>
  <tr>
    <td><%= image_tag 'meritbadges/'+ Qanda.find(answers.first).image, :height => '40px', :width => '40px'  %><br><%= Qanda.find(answers.first).meritbadge %></td>
    <td><%= Qanda.find(answers.first).question %></td>
    <td class="span5"><%= answers.last %></td>
    <td class="span1"><center>
    
<% if answers.last %>
<<<<<<< HEAD
    <%= link_to 'Edit', edit_post_path(answers.first), :class => 'btn btn-mini btn-success' %>
=======
    <%= link_to 'Edit', edit_post_path(Post), :class => 'btn btn-mini btn-success' %>
>>>>>>> Test work.
<% else %>
    <%= link_to 'Edit', new_post_path(qanda_id: answers.first), :class => 'btn btn-mini btn-primary'  %>
<% end %>

    </td>
  </tr>
    <% end %>
<% end %>
</table>

