<h1>My Answer Sheet</h1>

<%= link_to 'New Answer', new_post_path, :class => 'btn btn-mini btn-primary' %>


<hr>

<table class="table table-striped table-bordered span12 offset0">
  <tr>
    <th>Question</th>
    <th>Answer</th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><table class="table table-bordered span6 offset0"><tr><td class="span1; text-align:center;vertical-align:middle;">
<%= image_tag 'meritbadges/'+post.qanda.image, :height => '40px', :width => '40px'  %>
<%= post.qanda.meritbadge %>
</td>
<td><%= post.qanda.question %></td></tr></table>

    </td>
    <td class="span5"><%= post.my_answer %></td>
    <td class="span1"><%= link_to 'Edit', edit_post_path(post), :class => 'btn btn-mini btn-primary'  %></td>

  </tr>
<% end %>
</table>

